header.header
  .header__intro
    +introArticle(articles[0], lead)
    +introArticle(articles[1], lead)
    +introArticle(articles[2], lead)
  .header__title
    .container--price
      .price__main= prices.price
      .price__others
        | Recargo envio al interior:<br>
        | Cordoba, Entre Ríos y La Papapa <strong>#{prices.fee01}</strong><br>
        | Resto del país <strong>#{prices.fee02}</strong>
    .container--name
      h1.name__title
        | Quimera
        span.name__subtitle El arte es el espirítu de la expresión
    .container--edition
      .edition__date= legal.date
      .edition__legal Año #{legal.year} - Edición N° #{legal.edition}