header.header
  section.header__intro
    +introArticle(articles[0], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates illum, earum temporibus maxime quisquam ipsam nam aliquid quis consequuntur maxime quisquam ipsam, Voluptates illum ipsum dolor sit amet')
    +introArticle(articles[1], lead)
    +introArticle(articles[2], lead)
  section.header__title
    .container--price
      .price__main= prices.price
      .price__others
        span Capital Federal, GBA y La Plata
        | Recargo envio al interior:<br>
        | Cordoba, Entre Ríos y La Papapa <strong>#{prices.fee01}</strong><br>
        | Resto del país <strong>#{prices.fee02}</strong>
    .container--name
      h1.name__title
        | Quimera
      span.name__subtitle El arte es el espirítu de la expresión
    .container--edition
      .edition__date= legal.date
      .edition__legal Año #{legal.year} - Edición N° #{legal.edition}