//- Intro Articles
mixin introArticle(article, lead)
  article.intro-article
    h2.intro-article__section= article.section
    h3.intro-article__title= article.title
    if article.section == 'Suplemento'
      p.intro-article__lead
        | #{lead}
        span.intro-article__index Suplemento Especial
    else
      p.intro-article__lead
        | #{lead}
        span.intro-article__index= 'Pag.'+article.page

//- Section Title
mixin sectionTitle(sectionName, page, color)
  -var color = color
  if color
    .section.section--color
      .section__name= sectionName
      if page
        .section__page= page
  else
    .section
      .section__name= sectionName
      if page
        .section__page= page

//- Article
mixin article(article, content, lead, highlight, position)
  -var path = 'assets/'
  article(class=position)
    +sectionTitle(article.section, 'Pág.'+article.page, highlight)
    h2(class=position+'__title')= article.title
    if lead
      p(class=position+'__lead')= lead
    if article.image
      figure.figure(class=position+'--figure')
        img.figure__image(src=path+article.image)
        figcaption.figure__caption= article.caption
    if content
      p(class=position+'__content')= content