section.feature-article
  +sectionTitle(articles[0].section, 'Pág.'+articles[0].page, true)
  h2.feature-article__title= articles[0].title
  p.feature-article__lead= lead
  figure.figure.feature-article--figure
    img.figure__image(src=articles[0].image)
    figcaption.figure__caption= articles[0].caption
  p.feature-article__content= contentLong